#headerCont{
  height: 10vh;
  h1{
    color: green;
  }
}

.mainblog{
  .blogCont{
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 0 0 0 30px;
    img{
      width: 100%;
      max-width: 300px;
      background-color: blue;
      border-radius: 5px;
    }
    span{
      font-size: 14px;
    }
    p{
      font-size: 16px;
    }
  }

}